header {
  width: 100%;
  height: 60px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}

.titleheader {
  color: #ffffff;
  margin-left: 25px;
  margin-top: 19px;
}

.buttonheader {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1header {
  margin-left: 45px;
}

.button2header {
  margin-left: 45px;
}

.button3header {
  margin-left: 45px;
}

a {
  font-size: 20px;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
  color: #e5e5e5;
}

footer {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.footerinfo {
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #14213d;
  font-family: "Allerta", sans-serif;
}

.homepage {
  width: 100%;
  height: 630px;
  display: flex;
}

.box1 {
  width: 50%;
  height: 627px;
}

.box1 h2 {
  /* min-height: 50vh; */
  color: white;
  vertical-align: middle;
  text-align: center;
  margin-top: 150px;
}

.box1 h3 {
  color: white;
  margin-top: 30px;
  line-height: 25px;
  margin-left: 100px;
}

.box1 p {
  color: white;
  margin-top: 30px;
  line-height: 25px;
}

.box2 {
  width: 50%;
  height: 627px;
}

.imagehome {
  width: 60%;
  height: 80%;
  margin-left: 160px;
  margin-top: 50px;
  border-radius: 10%;
}

.titlepreferencies {
  text-align: center;
  color: #e5e5e5;
}

.preferencies {
  width: 100%;
  height: 750px;
  margin-top: 20px;
}

.backgroundlike {
  width: 95%;
  height: 95%;
  border: solid 1px black;
  margin-left: 2%;
  margin-top: 1%;
  background-color: #e5e5e5;
  display: flex;
}

.like1 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}

.like2 {
  width: 34%;
  height: 100%;
  border: solid 1px black;
}

.like3 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}

.titlelike1 {
  text-align: center;
  font-size: 35px;
  margin-top: 15px;
  text-decoration: underline;
}

.textlike1 {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  line-height: 35px;
  color: #fca311;
}

.imagepreferencies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
}

.imagelike {
  width: 237px;
  height: 252px;
}

.imagelike2 {
  width: 244px;
  height: 252px;
}

.imagelike3 {
  width: 237px;
  height: 252px;
}

.titleskill {
  text-align: center;
  color: #e5e5e5;
  margin-top: 45px;
  margin-bottom: 15px;
}

.boxskill1 {
  width: 100%;
  height: 700px;
  display: flex;
}

.levelofskill {
  width: 50%;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.skillihave {
  width: 50%;
  height: 700px;
}

.titleofskill {
  color: #e5e5e5;
  text-align: center;
  margin-bottom: 155px;
}

.titleofskill2 {
  color: #e5e5e5;
  text-align: center;
}

.titleofskill3 {
  color: #e5e5e5;
  text-align: center;
  margin-top: 155px;
}

.firstskill {
  width: 100%;
  height: 220px;
  display: flex;
}

.secondskill {
  width: 100%;
  height: 237px;
  display: flex;
}

.thirdskill {
  width: 100%;
  height: 238px;
  display: flex;
}

.imgskill3 {
  width: 320px;
}

.boxskill2 {
  width: 100%;
  height: 700px;
}

.textskill {
  display: flex;
  color: #e5e5e5;
  width: 25%;
  font-size: 18px;
  text-align: center;
  justify-content: center;
}

.softskill {
  width: 100%;
  height: 90%;
  display: flex;
}

.imagesoft {
  width: 506px;
}

.textskill2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 25px;
}

/*# sourceMappingURL=style.css.map */
