header {
    width: 100%;
    height: 80px;
    background-color: #fca311;
    display: flex;
    justify-content: space-between;
}

.titleheader{
    color: #ffffff;
    margin-left: 25px;
    margin-top: 29px;

}

.buttonheader{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-between;
}

.button1header{
    margin-left: 45px;
}

.button3header{
        margin-right: 45px;
}

a {
    font-size: 25px;
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
    color: black;
}

