* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rosybrown;
    font-family: 'Varela Round', sans-serif;
}

.aled{
    width: 100%;
    height: 250px;
    background-color:royalblue;
}