* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #14213d;
    font-family: 'Allerta', sans-serif;
}

.homepage{
        width: 1534px;
        height: 670px;
        display: flex;
        flex-wrap: wrap;
}


.box1{
    width: 50%;
    height: 550px;
}

.box2{
    width: 760px;
    height: 550px;
}

.box3{
    width: 50%;
    height: 120px;   
}

.photohome{
    width: 60%;
    height: 490px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 50%;
}

.titlehome{
    text-align: center;
    color: white;
    text-decoration: underline;
    vertical-align: middle;
    margin-top: 30%;
    margin-right: 150px;
    
}

.texthome{
    text-align: center;
    color: white;
    margin-top: 35px;
    margin-right: 182px;
    line-height: 25px;
}

.texthome2{
    text-align:center;
    color: white;
    margin-top: 35px;
    line-height: 25px;
    margin-left: 182px;
}

.buttonhome{
    width: 250px;
    height: 90px;
    background-color: #fca311;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 40%;
    margin-left: 35%;
    margin-top: 1%;
}

